<!-- منطقة الرأس -->
<header class="header-style-two inner-page-header">
  <div class="header-top-wrap">
    <div class="container custom-container">
      <div class="row">
        <div class="col-md-6 d-none d-md-block">
          <div class="header-top-action">
            <ul>
              <li></li>
              <li><i class="far fa-clock"></i> صباحًا إلى 5:00 مساءً 10:00</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="header-top-right">
            <ul>
              <li class="header-top-social">
                <a href=""><i class="fab fa-facebook-square"></i></a>
                <a href=""><i class="fab fa-linkedin"></i></a>
              </li>
              <li class="header-top-user">
                <div class="top-user-thumb">
                  <img src="../../assets/img/images/app_shot.jpeg" alt="" />
                </div>
                <a routerLink="/profil">ابراهيم</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="sticky-header" class="main-header menu-area">
    <div class="container custom-container">
      <div class="row">
        <div class="col-12">
          <div class="mobile-nav-toggler"><i class="fas fa-bars"></i></div>
          <div class="menu-wrap">
            <nav class="menu-nav show">
              <div class="logo">
                <a routerLink="/home"
                  ><img src="../../assets/img/logo/b_logo.png" alt="الشعار"
                /></a>
              </div>
              <div class="navbar-wrap main-menu d-none d-lg-flex">
                <ul class="navigation">
                  <li>
                    <a href="#">الرئيسية</a>
                  </li>
                  <li class="dropdown active">
                    <a href="#">الصفحات</a>
                    <ul class="submenu">
                      <li><a routerLink="/about">من نحن</a></li>
                      <li>
                        <a routerLink="/login">تسجيل</a>
                      </li>
                      <li class="active">
                        <a routerLink="/register">صفحة تسجيل الدخول</a>
                      </li>
                    </ul>
                  </li>
                  <li><a routerLink="/contact">اتصل بنا</a></li>
                </ul>
              </div>
              <div class="header-action d-none d-md-block">
                <ul>
                  <li class="header-shop-cart">
                    <a href="#"
                      ><i class="fas fa-shopping-basket"></i><span>0</span></a
                    >
                    <ul class="minicart">
                      <li>
                        <div class="checkout-link">
                          <a href="#">سلة التسوق</a>
                          <a class="red-color" href="#">الدفع</a>
                        </div>
                      </li>
                    </ul>
                  </li>
                  <li class="header-btn">
                    <a routerLink="/contact" class="btn">احصل على عرض سعر</a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- نهاية منطقة الرأس -->
