<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Car</title>
  </head>

  <body>
    <div class="wrapper">
      <app-menu></app-menu>
      <div class="main">
        <app-header></app-header>

        <main class="content">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Nom</th>
                <th scope="col">Adresse</th>
                <th scope="col">Email</th>
                <th scope="col">Image</th>
                <th scope="col">Description</th>
                <th scope="col">Genre</th>
                <th scope="col">Experience</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let car of listCar">
                <td>{{ car.id }}</td>
                <td>{{ car.nom }}</td>
                <td><img [src]="car.image" style="width: 100px" /></td>
                <td>{{ car.model }}</td>
                <td>{{ car.prix }}</td>
                <td>{{ car.annee }}</td>
                <td>{{ car.description }}</td>
                <td>{{ car.categorie }}</td>
                <td>
                  <button
                    (click)="ModifyCar(car)"
                    type="submit"
                    class="btn btn-success"
                  >
                    Modify
                  </button>
                  <button
                    (click)="DeleteCar(car)"
                    type="submit"
                    class="btn btn-danger"
                  >
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </main>
        <app-footer></app-footer>
      </div>
    </div>
  </body>
</html>
