<!-- main-area -->
<main>
  <!-- breadcrumb-area -->
  <section
    class="breadcrumb-area breadcrumb-bg"
    data-background="../../assets/img/bg/breadcrumb_bg.jpg"
  >
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="breadcrumb-content text-center">
            <h2>Contact Us</h2>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  Contact Us
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- breadcrumb-area-end -->

  <!-- contact-area -->
  <section class="contact-area pt-120">
    <div class="container">
      <div class="row">
        <div class="col-xl-5 col-lg-6">
          <div class="contact-info-wrap">
            <div class="section-title text-left mb-25">
              <span class="sub-title">contact information</span>
              <h2 class="title">Our Address Support</h2>
              <div class="line">
                <img src="../../assets/img/images/title_line.png" alt="" />
              </div>
            </div>
            <p>
              Contact information is the data you provide that lets recruiters
              get in touch with you. For all professionals.
            </p>
            <ul class="contact-info-list">
              <li>
                <div class="icon"><i class="fas fa-map-marker-alt"></i></div>
                <div class="content">
                  <h5>Company Office</h5>
                  <p>East 40th Street New York, NY, USA</p>
                </div>
              </li>
              <li>
                <div class="icon"><i class="fas fa-phone-alt"></i></div>
                <div class="content">
                  <h5>Hotline Number</h5>
                  <p><a href="tel:123456789">+216 21947622</a></p>
                </div>
              </li>
              <li>
                <div class="icon"><i class="far fa-envelope"></i></div>
                <div class="content">
                  <h5>Ask your question</h5>
                  <p>
                    <a
                      href="https://themebeyond.com/cdn-cgi/l/email-protection#11787f777e51626461617e63653f727e7c"
                      ><span
                        class="__cf_email__"
                        data-cfemail="81e8efe7eec1f2f4f1f1eef3f5afe2eeec"
                        >[email&#160;protected]</span
                      ></a
                    >
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xl-7 col-lg-6">
          <div class="contact-form-wrap">
            <div class="login-wrap">
              <h3 class="widget-title">Send your <span>request</span></h3>
              <form action="#" class="login-form">
                <div class="form-grp">
                  <label for="name">Your Name <span>*</span></label>
                  <input type="text" id="name" placeholder="Jon Deo" />
                </div>
                <div class="form-grp">
                  <label for="email">Your Email <span>*</span></label>
                  <input type="email" id="email" placeholder="info@car.com" />
                </div>
                <div class="form-grp">
                  <label for="message">Your Massage <span>*</span></label>
                  <textarea
                    name="message"
                    id="message"
                    placeholder="Hello..."
                  ></textarea>
                </div>
                <button class="btn">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- contact-area-end -->

  <!-- contact-map -->
  <div id="contact-map"></div>
  <!-- contact-map-end -->
</main>
<!-- main-area-end -->
