        <!-- main-area -->
        <main>

            <!-- slider-area -->
            <section class="slider-area">
                <div class="slider-active">
                    <div class="single-slider">
                        <div class="slider-angle-shape" data-background="../../assets/img/slider/slider_shape.png"></div>
                        <div class="slider-bg" data-background="../../assets/img/slider/slider_bg01.jpg"></div>
                        <div class="container custom-container">
                            <div class="row">
                                <div class="col-xl-5 col-lg-6">
                                    <div class="slider-content">
                                        <span data-animation="fadeInUp" data-delay=".3s">best auto service</span>
                                        <h2 data-animation="fadeInUp" data-delay=".6s">Professional Service Provide</h2>
                                        <p data-animation="fadeInUp" data-delay=".9s">Find the Perfect Car With Our Car Finder Tool</p>
                                        <a href="#" class="btn" data-animation="fadeInUp" data-delay="1.2s"><span>+</span> discover more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-slider">
                        <div class="slider-angle-shape" data-background="../../assets/img/slider/slider_shape.png"></div>
                        <div class="slider-bg" data-background="../../assets/img/slider/slider_bg01.jpg"></div>
                        <div class="container custom-container">
                            <div class="row">
                                <div class="col-xl-5 col-lg-6">
                                    <div class="slider-content">
                                        <span data-animation="fadeInUp" data-delay=".3s">best auto service</span>
                                        <h2 data-animation="fadeInUp" data-delay=".6s">Professional Service Provide</h2>
                                        <p data-animation="fadeInUp" data-delay=".9s">Find the Perfect Car With Our Car Finder Tool</p>
                                        <a href="#" class="btn" data-animation="fadeInUp" data-delay="1.2s"><span>+</span> discover more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- slider-area-end -->

            <!-- car-search-area -->
            <section class="car-search-area gray-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="car-search-wrap">
                                <div class="small-title mb-20">
                                    <h4><i class="flaticon-searching-car"></i> LOOKING FOR A <span>CAR?</span></h4>
                                </div>
                                <form action="#" class="car-search-form">
                                    <div class="row align-items-end">
                                        <div class="col custom-col-5">
                                            <label>MAKERS OF VEHICLE</label>
                                            <select name="name" class="selected">
                                                <option value="">Select Model</option>
                                                <option value="">Mercedes-Benz</option>
                                                <option value="">Volkswagen</option>
                                                <option value="">Aston-Martin</option>
                                                <option value="">Lamborghini</option>
                                                <option value="">Koenigsegg</option>
                                            </select>
                                        </div>
                                        <div class="col custom-col-5">
                                            <label>MISSING MODEL</label>
                                            <select name="name" class="selected">
                                                <option value="">Select Model</option>
                                                <option value="">Volkswagen SC20</option>
                                                <option value="">Honda CBR9</option>
                                                <option value="">Aston K35l8</option>
                                                <option value="">BMW SC20</option>
                                                <option value="">Toyota T86LM</option>
                                            </select>
                                        </div>
                                        <div class="col custom-col-5">
                                            <label>Vehicle Status</label>
                                            <select name="name" class="selected">
                                                <option value="">Select Model</option>
                                                <option value="">SORN Status</option>
                                                <option value="">Fuel Type</option>
                                                <option value="">Last Log Book</option>
                                                <option value="">MOT Expires</option>
                                                <option value="">Vehicle TAX</option>
                                            </select>
                                        </div>
                                        <div class="col custom-col-5">
                                            <label>Any Model</label>
                                            <select name="name" class="selected">
                                                <option value="">BMW 7 Series</option>
                                                <option value="">Mercedes-Benz</option>
                                                <option value="">Volkswagen</option>
                                                <option value="">Aston-Martin</option>
                                                <option value="">Lamborghini</option>
                                                <option value="">Koenigsegg</option>
                                            </select>
                                        </div>
                                        <div class="col custom-col-5">
                                            <button class="btn">SELECT VEHICLE</button>
                                        </div>
                                    </div>
                                </form>
                                <div class="car-search-map-icon"><i class="flaticon-location"></i></div>
                                <div class="car-search-shape"><img src="../../assets/img/images/car_search_shape.png" alt=""></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- car-search-area-end -->

            <!-- popular-selling-brand -->
            <section class="popular-selling-brand gray-bg pt-50 pb-120">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="popular-selling-wrap">
                                <div class="popular-selling-top">
                                    <div class="popular-selling-title">
                                        <h4>popular selling items</h4>
                                    </div>
                                    <div class="see-all-brand">
                                        <a href="#">See all Makes</a>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                        <div class="popular-selling-items">
                                            <a href="#"><img src="../../assets/img/brand/popular_brand01.jpg" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                        <div class="popular-selling-items">
                                            <a href="#"><img src="../../assets/img/brand/popular_brand02.jpg" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                        <div class="popular-selling-items">
                                            <a href="#"><img src="../../assets/img/brand/popular_brand03.jpg" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                        <div class="popular-selling-items">
                                            <a href="#"><img src="../../assets/img/brand/popular_brand04.jpg" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                        <div class="popular-selling-items">
                                            <a href="#"><img src="../../assets/img/brand/popular_brand05.jpg" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                        <div class="popular-selling-items">
                                            <a href="#"><img src="../../assets/img/brand/popular_brand06.jpg" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                        <div class="popular-selling-items">
                                            <a href="#"><img src="../../assets/img/brand/popular_brand07.jpg" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                        <div class="popular-selling-items">
                                            <a href="#"><img src="../../assets/img/brand/popular_brand08.jpg" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="popular-selling-ad-banner">
                                <a href="#"><img src="../../assets/img/images/popular_selling_banner.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- popular-selling-brand-end -->

            <!-- latest-cars-area -->
            <section class="latest-cars-area pt-120 pb-120">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-5 col-lg-6">
                            <div class="section-title text-center mb-35">
                                <h2 class="overlay-title">All Seller</h2>
                                <span class="sub-title">our Featured Cars</span>
                                <h2 class="title">latest released Cars</h2>
                            </div>
                            <div class="latest-car-menu-wrap">
                                <div class="latest-car-menu-active">
                                    <button class="active" data-filter="*">all SELLER</button>
                                    <button class="" data-filter=".cat-one">NEW CARS</button>
                                    <button class="" data-filter=".cat-two">USED CARS</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="latest-cars-wrapper">
                        <div class="row latest-car-items-active">
                            <div class="col-lg-4 col-md-6 grid-item grid-sizer cat-two">
                                <div class="latest-car-item mb-60">
                                    <div class="latest-car-thumb mb-25">
                                        <a href="inventory-details.html">
                                            <img src="../../assets/img/images/released_cars_thumb01.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="latest-car-content">
                                        <div class="latest-car-content-top">
                                            <h5><a href="inventory-details.html">Jaguer M1 Hybrid</a></h5>
                                            <span class="price">$2300</span>
                                        </div>
                                        <p>Build Year : <span>2020</span></p>
                                        <div class="latest-car-meta">
                                            <ul>
                                                <li><i class="flaticon-settings"></i> Automatic</li>
                                                <li><i class="flaticon-gasoline-pump"></i> Diesel</li>
                                                <li><i class="flaticon-motorway"></i> 7500 km</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 grid-item grid-sizer cat-one">
                                <div class="latest-car-item mb-60">
                                    <div class="latest-car-thumb mb-25">
                                        <a href="inventory-details.html">
                                            <img src="../../assets/img/images/released_cars_thumb02.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="latest-car-content">
                                        <div class="latest-car-content-top">
                                            <h5><a href="inventory-details.html">Audi New BoM 800</a></h5>
                                            <span class="price">$2900</span>
                                        </div>
                                        <p>Build Year : <span>2020</span></p>
                                        <div class="latest-car-meta">
                                            <ul>
                                                <li><i class="flaticon-settings"></i> Automatic</li>
                                                <li><i class="flaticon-gasoline-pump"></i> Diesel</li>
                                                <li><i class="flaticon-motorway"></i> 7500 km</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 grid-item grid-sizer cat-two">
                                <div class="latest-car-item mb-60">
                                    <div class="latest-car-thumb mb-25">
                                        <a href="inventory-details.html">
                                            <img src="../../assets/img/images/released_cars_thumb03.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="latest-car-content">
                                        <div class="latest-car-content-top">
                                            <h5><a href="inventory-details.html">Mercedez Benz Ei8</a></h5>
                                            <span class="price">$2100</span>
                                        </div>
                                        <p>Build Year : <span>2020</span></p>
                                        <div class="latest-car-meta">
                                            <ul>
                                                <li><i class="flaticon-settings"></i> Automatic</li>
                                                <li><i class="flaticon-gasoline-pump"></i> Diesel</li>
                                                <li><i class="flaticon-motorway"></i> 7500 km</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 grid-item grid-sizer cat-one cat-two">
                                <div class="latest-car-item mb-60">
                                    <div class="latest-car-thumb mb-25">
                                        <a href="inventory-details.html">
                                            <img src="../../assets/img/images/released_cars_thumb04.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="latest-car-content">
                                        <div class="latest-car-content-top">
                                            <h5><a href="inventory-details.html">Audi A8 Hybrid</a></h5>
                                            <span class="price">$1900</span>
                                        </div>
                                        <p>Build Year : <span>2024</span></p>
                                        <div class="latest-car-meta">
                                            <ul>
                                                <li><i class="flaticon-settings"></i> Automatic</li>
                                                <li><i class="flaticon-gasoline-pump"></i> Diesel</li>
                                                <li><i class="flaticon-motorway"></i> 7500 km</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 grid-item grid-sizer cat-one">
                                <div class="latest-car-item mb-60">
                                    <div class="latest-car-thumb mb-25">
                                        <a href="inventory-details.html">
                                            <img src="../../assets/img/images/released_cars_thumb05.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="latest-car-content">
                                        <div class="latest-car-content-top">
                                            <h5><a href="inventory-details.html">Audi New BoM 800</a></h5>
                                            <span class="price">$1700</span>
                                        </div>
                                        <p>Build Year : <span>2020</span></p>
                                        <div class="latest-car-meta">
                                            <ul>
                                                <li><i class="flaticon-settings"></i> Automatic</li>
                                                <li><i class="flaticon-gasoline-pump"></i> Diesel</li>
                                                <li><i class="flaticon-motorway"></i> 7500 km</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 grid-item grid-sizer cat-one cat-two">
                                <div class="latest-car-item mb-60">
                                    <div class="latest-car-thumb mb-25">
                                        <a href="inventory-details.html">
                                            <img src="../../assets/img/images/released_cars_thumb06.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="latest-car-content">
                                        <div class="latest-car-content-top">
                                            <h5><a href="inventory-details.html">Audi New BoM 800</a></h5>
                                            <span class="price">$1200</span>
                                        </div>
                                        <p>Build Year : <span>2020</span></p>
                                        <div class="latest-car-meta">
                                            <ul>
                                                <li><i class="flaticon-settings"></i> Automatic</li>
                                                <li><i class="flaticon-gasoline-pump"></i> Diesel</li>
                                                <li><i class="flaticon-motorway"></i> 7500 km</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="latest-car-btn text-center mt-10">
                                    <a href="#" class="btn">SHOW ALL CARS</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- latest-cars-area-end -->

            <!-- fact-area -->
            <section class="fact-area fact-bg pt-120 pb-70 jarallax parallax-img" data-background="../../assets/img/bg/fact_bg.jpg">
                <div class="fact-area-title">Find your Perfect Car <span class="left"></span><span class="right"></span></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="fact-item mb-50">
                                <div class="fact-icon">
                                    <i class="flaticon-car-3"></i>
                                </div>
                                <div class="fact-content">
                                    <h3><span class="odometer" data-count="2900"></span>+</h3>
                                    <p>NEW CARS IN STOCK</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="fact-item mb-50">
                                <div class="fact-icon">
                                    <i class="flaticon-service-1"></i>
                                </div>
                                <div class="fact-content">
                                    <h3><span class="odometer" data-count="3400"></span>+</h3>
                                    <p>USED CARS IN STOCK</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="fact-item mb-50">
                                <div class="fact-icon">
                                    <i class="flaticon-gears"></i>
                                </div>
                                <div class="fact-content">
                                    <h3><span class="odometer" data-count="1200"></span>+</h3>
                                    <p>SERVICE CENTERS</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="fact-item mb-50">
                                <div class="fact-icon">
                                    <i class="flaticon-rocket"></i>
                                </div>
                                <div class="fact-content">
                                    <h3><span class="odometer" data-count="34"></span>K</h3>
                                    <p>HAPPY CLIENTS</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- fact-area-end -->

            <!-- exclusive-featured-area -->
            <section class="exclusive-featured-area pt-120 pb-120">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-6 col-lg-7">
                            <div class="section-title text-center mb-70">
                                <h2 class="overlay-title">Our Services</h2>
                                <span class="sub-title">our service Cars</span>
                                <h2 class="title">Exclusive Car Featured</h2>
                                <div class="line"><img src="../../assets/img/images/title_line.png" alt=""></div>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center align-items-xl-start">
                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="exc-featured-item">
                                <div class="icon">
                                    <i class="flaticon-belt"></i>
                                </div>
                                <div class="content">
                                    <h5>SUPER FAST car</h5>
                                    <p>Placlder text commonly used detrate theyjlos visual form amet, consectetur ading elitmod tempor used.</p>
                                </div>
                            </div>
                            <div class="exc-featured-item">
                                <div class="icon">
                                    <i class="flaticon-piston"></i>
                                </div>
                                <div class="content">
                                    <h5>dealership points</h5>
                                    <p>Placlder text commonly used detrate theyjlos visual form amet, consectetur ading elitmod tempor used.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-4 d-none d-lg-block">
                            <div class="exc-featured-img">
                                <img src="../../assets/img/images/exc_featured_img.png" alt="">
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="exc-featured-item">
                                <div class="icon">
                                    <i class="flaticon-fan"></i>
                                </div>
                                <div class="content">
                                    <h5>SUPER FAST car</h5>
                                    <p>Placlder text commonly used detrate theyjlos visual form amet, consectetur ading elitmod tempor used.</p>
                                </div>
                            </div>
                            <div class="exc-featured-item">
                                <div class="icon">
                                    <i class="flaticon-jerrycan"></i>
                                </div>
                                <div class="content">
                                    <h5>dealership points</h5>
                                    <p>Placlder text commonly used detrate theyjlos visual form amet, consectetur ading elitmod tempor used.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- exclusive-featured-area-end -->


            <!-- car-category-area -->
            <section class="car-category-area pt-120 pb-120">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-6 col-lg-7">
                            <div class="section-title text-center mb-70">
                                <h2 class="overlay-title">Browse cars</h2>
                                <span class="sub-title">categories cars</span>
                                <h2 class="title">Browse by Type cars</h2>
                                <div class="line"><img src="../../assets/img/images/title_line.png" alt=""></div>
                            </div>
                        </div>
                    </div>
                    <div class="row car-category-active">
                        <div class="col">
                            <div class="car-cat-item">
                                <a href="#">
                                    <img src="../../assets/img/images/car_cat01.png" alt="">
                                    <span>Hybrid i7</span>
                                </a>
                            </div>
                        </div>
                        <div class="col">
                            <div class="car-cat-item">
                                <a href="#">
                                    <img src="../../assets/img/images/car_cat02.png" alt="">
                                    <span>Jaguar W7</span>
                                </a>
                            </div>
                        </div>
                        <div class="col">
                            <div class="car-cat-item">
                                <a href="#">
                                    <img src="../../assets/img/images/car_cat03.png" alt="">
                                    <span>Hybrid 91H6</span>
                                </a>
                            </div>
                        </div>
                        <div class="col">
                            <div class="car-cat-item">
                                <a href="#">
                                    <img src="../../assets/img/images/car_cat04.png" alt="">
                                    <span>Toyota Aqua</span>
                                </a>
                            </div>
                        </div>
                        <div class="col">
                            <div class="car-cat-item">
                                <a href="#">
                                    <img src="../../assets/img/images/car_cat05.png" alt="">
                                    <span>Sedan 800</span>
                                </a>
                            </div>
                        </div>
                        <div class="col">
                            <div class="car-cat-item">
                                <a href="#">
                                    <img src="../../assets/img/images/car_cat06.png" alt="">
                                    <span>Toyota 7G9</span>
                                </a>
                            </div>
                        </div>
                        <div class="col">
                            <div class="car-cat-item">
                                <a href="#">
                                    <img src="../../assets/img/images/car_cat04.png" alt="">
                                    <span>Lamborghini</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- car-category-area-end -->

        </main>
        <!-- main-area-end -->